.avatar {
    vertical-align: middle;
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.margin-inset {
    margin-left: 10rem;
    margin-right: 10rem;
}

.btn-orange {
    color: white;
    font-size: 20px;
    background-color: #f58234;
    width: 12rem;
}
