<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card margin-inset text-center">
                    <img src="assets/avatar.jpg" class="avatar mx-auto" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center my-4">Usuario</h5>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-orange"> Nivel 10 <i class="fa fa-pie-chart" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-orange my-4"> Carrito <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-orange mb-4" (click)="notiAlert()"> Notificaciones(1) <i class="fa fa-exclamation " aria-hidden="true "></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
