<h1>Carrito</h1>
<h3>¡Hola {{ usuario }}!</h3>

<div class="container">
  <div class="row">
    <div class="col">
      <h4>Productos:</h4>
      <p>Café MAJOMUT</p><input type="number" placeholder="cantidad">
      <p>Nibs de Cacao</p><input type="number" placeholder="cantidad">
      <p>Miel de Mangle Apiflor</p><input type="number" placeholder="cantidad">
      <div class="row text-center">
      </div>
      <div class="dropdown">
        <button class="dropbtn">{{frecuencia}}</button>
        <div class="dropdown-content">
            <button (click)="modRef('Semanal')">Semanal</button>
            <button (click)="modRef('Mensual')">Mensual</button>
            <button (click)="modRef('Bimestral')">Cada 2 meses</button>
            <button (click)="modRef('Trimestral')">Cada 3 meses</button>
        </div>
      </div>
      <button (click)="alerta1()">Pagar</button>
    </div>
  </div>  
</div>



