<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row custom-m">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h1 class="card-title text-center text-white">Iniciar Sesión</h1>
                    <form class="form-signin" [formGroup]="loginInput" (ngSubmit)="onSubmit()">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email" formControlName="email" required autofocus>
                            <label for="inputEmail"></label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" formControlName="password" required>
                            <label for="inputPassword"></label>
                        </div>


                        <div class="text-center">
                            <button class="btn btn-darkgreen text-uppercase mb-3" type="submit">Login</button>
                            <a class="d-block mt-2 small" href="#">Crear una Cuenta</a>
                            <hr class="my-4">
                            <div class="d-grid gap-2">
                                <button class="btn btn-google text-uppercase mb-3" type="button"> <i class="fa fa-google" aria-hidden="true"></i> Registrarse con Google</button>
                                <button class="btn btn-facebook text-uppercase" type="button"> <i class="fa fa-facebook-f" aria-hidden="true" ></i> Registrarse con Facebook </button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
