:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.btn-darkgreen {
    background-color: #757b63;
    color: white;
    width: 15rem;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
}

i {
    font-size: 20px;
}

.custom-m {
    margin-bottom: 4rem;
}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('/assets/mainLogo.jpeg');
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
    font-size: 20px;
}

.form-control {
    font-size: 20px;
}

.form-signin .btn {
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 20px;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
}

.card-body {
    background-color: #fcaf1a;
    font-family: 'Antonio', sans-serif;
}

.form-label-group input {
    height: auto;
    border-radius: 0.5rem;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}
